<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='/css/styles.css'>
    </head>
    <body>
        {{>header}}
        <p> This site was created by {{name}}. The data is coming from mapbox.com and dark sky.com</h1>
        {{>footer}}
    </body>
</html>