<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='/css/styles.css'>
    </head>
    <body>
        {{>header}}
        <h1>{{helpText}}</h1>
        <div>
            <span>created by {{name}}</span>
        </div>
        {{>footer}}
    </body>
</html>